<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <ol>
        <?php foreach($video as $v){?>
            <li>{$v.title}</li>
            <li>{$v.title_link}</li>
            <li>{$v.img}</li>
            <li>{$v.video_link}</li>
            <li>{$v.category}</li>
            <br>
        <?php }?>
        </ol>
<!--<form action="#" id="demo">-->
<!--<input type="text" id="video" value="" ref="input1">-->
<!--    <a href="javascript:void(0);" v-on:click="test1">测试</a>-->
<!--    <br>-->
<!--    <span>{{ result1 }}</span>-->
<!--</form>-->
<!--<div id="app">-->
<!--    {{ message }}-->
<!--</div>-->

<!--<div id="app-2">-->
<!--  <span v-bind:title="message">-->
<!--    鼠标悬停几秒钟查看此处动态绑定的提示信息！-->
<!--  </span>-->
<!--</div>-->
<!--<div id="app-3">-->
<!--    <p v-if="seen">现在你看到我了</p>-->
<!--</div>-->
<!--<div id="app-4">-->
<!--    <ol>-->
<!--        <li v-for="todo in todos">-->
<!--            {{ todo.text }}-->
<!--        </li>-->
<!--    </ol>-->
<!--</div>-->
<!--<div id="app-5">-->
<!--    <p>{{ message }}</p>-->
<!--    <button v-on:click="reverseMessage">反转消息</button>-->
<!--</div>-->
<!--<div id="app-6">-->
<!--    <p>{{ message }}</p>-->
<!--    <input v-model="message">-->
<!--</div>-->

<!--<div id="app-7">-->
<!--    <ol>-->
<!--        <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>-->
<!--    </ol>-->
<!--</div>-->

<!--<ul id="v-for-object" class="demo">-->
<!--    <li v-for="value in object">-->
<!--        {{ value }}-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>
<!--<script src="/static/js/vue.js"></script>-->
<!--<script>-->
<!--    var app = new Vue({-->
<!--        el: '#app',-->
<!--        data: {-->
<!--            message: 'Hello Vue!'-->
<!--        }-->

<!--    });-->
<!--    var app2 = new Vue({-->
<!--        el: '#app-2',-->
<!--        data: {-->
<!--            message: '页面加载于 ' + new Date().toLocaleString()-->
<!--        }-->
<!--    });-->
<!--    //app3.seen = false-->
<!--    var app3 = new Vue({-->
<!--        el: '#app-3',-->
<!--        data: {-->
<!--            seen: true-->
<!--        }-->
<!--    })-->
<!--    //app4.todos.push({ text: '新项目' })-->
<!--    var app4 = new Vue({-->
<!--        el: '#app-4',-->
<!--        data: {-->
<!--            todos: [-->
<!--                { text: '学习 JavaScript' },-->
<!--                { text: '学习 Vue' },-->
<!--                { text: '整个牛项目' }-->
<!--            ]-->
<!--        }-->
<!--    });-->
<!--    var app5 = new Vue({-->
<!--        el: '#app-5',-->
<!--        data: {-->
<!--            message: 'Hello Vue.js!'-->
<!--        },-->
<!--        methods: {-->
<!--            reverseMessage: function () {-->
<!--                this.message = this.message.split('').reverse().join('')-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--    var app6 = new Vue({-->
<!--        el: '#app-6',-->
<!--        data: {-->
<!--            message: 'Hello Vue!'-->
<!--        }-->
<!--    });-->
<!--    Vue.component('todo-item', {-->
<!--        props: ['todo'],-->
<!--        template: '<li>{{ todo.text }}</li>'-->
<!--    })-->

<!--    var app7 = new Vue({-->
<!--        el: '#app-7',-->
<!--        data: {-->
<!--            groceryList: [-->
<!--                { id: 0, text: '蔬菜', title: '白菜'},-->
<!--                { id: 1, text: '奶酪', title: '南山'},-->
<!--                { id: 2, text: '随便其它什么人吃的东西', title:'随便'}-->
<!--            ]-->
<!--        }-->
<!--    });-->

<!--    new Vue({-->
<!--        el: '#v-for-object',-->
<!--        data: {-->
<!--            object: {-->
<!--                title: 'How to do lists in Vue',-->
<!--                author: 'Jane Doe',-->
<!--                publishedAt: '2016-04-10'-->
<!--            }-->
<!--        }-->
<!--    })-->
<!--    new Vue({-->
<!--        el: "#demo",-->

<!--        data: {-->
<!--            result1: null,-->
<!--        },-->

<!--        methods: {-->
<!--            test1: function () {-->
<!--                this.result1 = this.$refs.input1.value + " 成功!";-->
<!--            },-->
<!--        }-->
<!--    })-->
<!--</script>-->